
.title {
    text-align: center;
    margin: 200px;
    font-weight: 0;
}

.h1 {
    font-family: 'Inter';
    font-size: 40px;
}

.h2 {
    font-family: 'Inter';
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.h3 {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: normal;
}
.h3center {
    font-family: 'Inter';
    text-align: center;
    font-size: 28px;
    font-weight: normal;
}
.h3left {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: normal;
    margin-left: 154px;
}
.h3small {
    font-family: 'Inter';
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
}

.h4 {
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    color: #B32316;
    text-align: center;
    margin-right: 100px;
}

.line1 {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.line2 {
    display: flex;
    justify-content: center;
    margin-top: 125px;  
    margin-bottom: 75px;
}

.imagetext {
    display: flex;
    justify-content: space-evenly;

    .image1 {
        scale: 1.15;
    }
}

.statistics {
    display: flex;
    justify-content: center;
}



