.splash {
  position: relative;
  width: 100%;
  height: 100vh;

  .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .name {
    position: absolute;
    left: 2.5rem;
    bottom: 10rem;
    color: white;
    font-size: 10rem;
    font-weight: 900;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.waveTop1 {
  width: 100%;
  height: 20rem;
  margin-top: -15rem;
  background-color: white;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 26.67%,
    2% 26.78%,
    4% 27.13%,
    6% 27.7%,
    8% 28.47%,
    10% 29.41%,
    12% 30.49%,
    14% 31.68%,
    16% 32.91%,
    18% 34.17%,
    20% 35.39%,
    22% 36.55%,
    24% 37.58%,
    26% 38.47%,
    28% 39.18%,
    30% 39.67%,
    32% 39.95%,
    34% 39.99%,
    36% 39.79%,
    38% 39.37%,
    40% 38.73%,
    42% 37.9%,
    44% 36.91%,
    46% 35.79%,
    48% 34.58%,
    50% 33.33%,
    52% 32.08%,
    54% 30.88%,
    56% 29.76%,
    58% 28.77%,
    60% 27.94%,
    62% 27.3%,
    64% 26.88%,
    66% 26.68%,
    68% 26.72%,
    70% 26.99%,
    72% 27.49%,
    74% 28.2%,
    76% 29.08%,
    78% 30.12%,
    80% 31.27%,
    82% 32.5%,
    84% 33.75%,
    86% 34.99%,
    88% 36.17%,
    90% 37.25%,
    92% 38.19%,
    94% 38.96%,
    96% 39.53%,
    98% 39.88%,
    100% 40%
  );
}

.austinHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 0 10rem;
  margin-bottom: 5rem;

  span {
    color: var(--light-deep-blue);
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
  }

  img {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 99rem;
  }
}

.austinDescription {
  padding: 0 10rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  white-space: pre-line;
}

.title {
  margin-bottom: 3.5rem;
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;

  span {
    color: var(--dark-blue);
    font-size: 3.5rem;
    font-weight: 600;

    span {
      all: inherit;
      color: var(--light-deep-blue);
    }
  }
}

.subtitle {
  margin-top: -2.5rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
  text-align: center;
}

.partners {
  display: flex;
  gap: 5rem;
  padding: 5rem 10rem;
  color: white;

  .partner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    img {
      width: 100%;
      height: 20rem;
      object-fit: contain;
    }

    .name {
      font-size: 2.5rem;
      font-weight: 500;
    }

    .description {
      font-size: 1.8rem;
      text-align: center;
      line-height: 150%;
    }
  }
}

.grid {
  width: 100%;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  margin-bottom: 5rem;

  img {
    width: 100%;
    max-height: 20rem;
    object-fit: contain;
  }
}

.join {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pfp {
    overflow: hidden;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1.5rem;
    border-radius: 99rem;
  }

  .name {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .role {
    font-size: 1.8rem;
  }
}
