.splash {
  position: relative;
  width: 100%;
  height: 100vh;

  .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .name {
    position: absolute;
    left: 2.5rem;
    bottom: 10rem;
    color: white;
    font-size: 10rem;
    font-weight: 900;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.waveTop1 {
  width: 100%;
  height: 20rem;
  margin-top: -15rem;
  background-color: white;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 26.67%,
    2% 26.78%,
    4% 27.13%,
    6% 27.7%,
    8% 28.47%,
    10% 29.41%,
    12% 30.49%,
    14% 31.68%,
    16% 32.91%,
    18% 34.17%,
    20% 35.39%,
    22% 36.55%,
    24% 37.58%,
    26% 38.47%,
    28% 39.18%,
    30% 39.67%,
    32% 39.95%,
    34% 39.99%,
    36% 39.79%,
    38% 39.37%,
    40% 38.73%,
    42% 37.9%,
    44% 36.91%,
    46% 35.79%,
    48% 34.58%,
    50% 33.33%,
    52% 32.08%,
    54% 30.88%,
    56% 29.76%,
    58% 28.77%,
    60% 27.94%,
    62% 27.3%,
    64% 26.88%,
    66% 26.68%,
    68% 26.72%,
    70% 26.99%,
    72% 27.49%,
    74% 28.2%,
    76% 29.08%,
    78% 30.12%,
    80% 31.27%,
    82% 32.5%,
    84% 33.75%,
    86% 34.99%,
    88% 36.17%,
    90% 37.25%,
    92% 38.19%,
    94% 38.96%,
    96% 39.53%,
    98% 39.88%,
    100% 40%
  );
}

.title {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.step {
  margin-top: 5rem;
  color: var(--dark-blue);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.join {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
