:root {
  --red: #c9473f;
  --extra-light-blue: #bde4ff;
  --light-blue: #9dd8ff;
  --light-deep-blue: #5abdff;
  --deep-blue: #0691ee;
  --dark-blue: #3358bd;

  color: #2c2c2c;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}
