.finishedMural,
.upcomingMural {
  position: relative;
  width: 100%;
  height: 45rem;
  border-radius: 10px;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: rgba(245, 245, 245, 1);
    font-size: 7rem;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.35);
    transition: opacity 0.25s;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.finishedMural {
}

@keyframes bob {
  0% {
    transform: rotate(-20deg);
    margin-bottom: 12.5rem;
  }

  25% {
    transform: rotate(0);
    margin-bottom: 22.5rem;
  }

  50% {
    transform: rotate(20deg);
    margin-bottom: 12.5rem;
  }

  75% {
    transform: rotate(0);
    margin-bottom: 2.5rem;
  }

  100% {
    transform: rotate(-20deg);
    margin-bottom: 12.5rem;
  }
}

.upcomingMural {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);

  .fish {
    width: 25rem;
    height: 15rem;
    object-fit: contain;
    animation: bob 1.5s linear infinite;
  }

  .text {
    position: absolute;
    bottom: 7.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    text-align: center;

    span {
      color: var(--dark-blue);
      font-size: 3rem;
      font-weight: 600;
    }

    .details {
      font-size: 2rem;
    }
  }
}
