// added boilerplate structure for the mural hero scss styling
.mural-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .mural-hero-banner {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; // Adjust the color based on your design
        text-align: center;
        h1 {
          font-size: 3rem; // Adjust the size based on your design
        }
        p {
          font-size: 1.5rem; // Adjust the size based on your design
        }
      }
    }

    .mural-sub-content {
      display: flex;
      width: 100%;
      .mural-left-box, .mural-right-box {
        flex: 1;
        // Add styles for your boxes
      }
    }
    
    .background {
      background-image: url('../assets/images/background.jpg');
    }
  }
  